:root {
    --border: 50%; 
    --padding-x: 10px;
    --padding-y: 10px;
    --b--height: 100%;
    --display: flex;
}

.button {
    aspect-ratio: 1 / 1;
    padding: var(--padding-y) var(--padding-x);
    height: var(--b--height);
    width: var(--b-width);
    display: var(--display);
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: var(--border);

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

.button:hover {
    background-color: #e0e0e0; 
    transform: scale(1.05); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}