:root {
    --border: 50%; 
    --padding-x: 10px;
    --padding-y: 10px;
    --b--height: 100%;
    --display: flex;
}

.button {
    aspect-ratio: 1 / 1;
    padding: var(--padding-y) var(--padding-x);
    height: var(--b--height);
    width: var(--b-width);
    display: var(--display);
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: var(--border);
}


