@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Montserrat Alternates", sans-serif;
}

body {
  position: relative;
  margin: 0;
}

.page-content:after {
  content: ""; /* Обов'язковий для :after */
  position: absolute; /* Абсолютне позиціонування */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%; /* Заповнює весь блок */
  background: url("../shared/img/Background.svg") no-repeat bottom center;
  background-size: cover; /* Масштабування фону */
  z-index: -1; /* Фон під основним контентом */
  opacity: 0.9; /* Невелика прозорість фону, якщо потрібно */
}

html,
body {
  height: 100%;
  margin: 0;
}

.data-title {
  margin: 15px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 45px;
  font-weight: 900;
}
.profile {
  margin-top: 50px;
  border-radius: 35px;
  padding: 30px;
  background-color: #ffffff;
  opacity: 0.99;
  border: 1px solid #9ddf6b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  width: 80%;
  gap: 10px;
}

.profile-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.label {
  margin: 5px;
  font-size: 25px;
  color: #7e7a7a;
  font-family: "Montserrat Alternates";
}

.data-field {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  width: 90%;
  color: black;
  background-color: #f2f2f282;
  border: 1px solid #9edf6d;
  border-radius: 5px;
  padding: 6px;
  margin: 2px;
  font-size: 25px;
  margin-right: 10px;
}

.avatar-img {
  width: 100%;
  height: 100%;
}

.file-input {
  width: 100%;
  height: 20%;
  background-color: rgba(147, 137, 137, 0.8);
  position: absolute;
  bottom: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.file-input img {
  opacity: 1 !important;
}

.edit-avatar-icon {
  z-index: 2;
}

.hidden-input {
  display: none;
}

.edit-btn {
  width: 250px;
  height: 50px;

  background-color: #9edf6d;
  font-family: "Montserrat Alternates";
  font-weight: 700;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  border-radius: 8px;
  font-size: 20px;
}

.edit-icon {
  width: 30px;
  margin: 5px;
}

.edit-avatar-icon {
  width: 30px;
  margin: 5px;
}

.avatar {
  margin-left: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 250px;
  height: 250px;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validaton-error {
  font-family: "Montserrat";
}

.role {
  font-family: var(--font-family);
  font-weight: 900;
  color: #ff0000;
  text-align: center;
  font-size: 22px;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
}
.page-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.edit-container{
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  /* .data-field {
    max-width: 300px;
  } */
  .avatar-container {
    display: flex;
    align-items: flex-start;
    padding: 15px;
  }
  .avatar {
    width: 150px;
    height: 150px;
  }
  .data-title {
    font-size: 30px;
  }
  .role{
    margin-left: 40px;
    font-size: 20px;
  }
  .edit-btn {
    font-size: 15px;
    width: 180px
  }
  .edit-icon {
    width: 20px;
    height: 20px;
  }

  .data-field, .label{ 
    font-size: 20px;
  }

  .profile {
      align-items: center;
      height: 1;
  }

} 
@media screen and (max-width: 700px) {
  .data-title {
    margin: 10px;
  }
  .data-field, .label{ 
    font-size: 18px;
  }
  .data-field {
    margin-right: 5px;
  }
  .avatar {
    width: 130px;
    height: 130px;
  }
  .edit-icon {
    width: 15px;
    height: 15px;
  }
  .edit-btn {
    font-size: 10px;
    margin: 5px;
  }
  .role{
    font-size: 15px;
  }
}
@media screen and (max-width: 550px) {
  .edit-container {
    gap: 5px; 
  }
  .data-title {
    font-size: 20px;
  }
  .data-field, .label{ 
    font-size: 13px;
  }
  .data-field {
    margin-right: 5px;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  .edit-btn {
    font-size: 8px;
    height: 42px;
  }
}
@media screen and (max-width: 420px) { 
  .data-title {
    margin: 5px;
    font-size: 18px;
  }
  .profile{
    padding: 10px;
    margin: 10px;
    gap: 0px;
  }
  .edit-container {
    margin: 0px;
    flex-direction: column;
  }
  .edit-btn {
    margin: 2px;
    font-size: 8px;
    width: 100%;
    width: 80%;
    height: 30px;
  }
  .profile-content {
    width: 100%;
    padding: 10px;
    gap: 2px;
    align-items: center;
  }
  .label {
    margin: 1px;
  }
  .content {
    flex-direction: column-reverse;
    padding: 0px;
    margin: 0px;
  }
  .avatar-container {
    align-items: center;
    padding: 5px;
  }
  .role{
    margin-left: 5px;
  }
  .data-field {
    width: 80%;
  }
}