.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(3px);
    overflow: hidden;
    overflow-y: auto;
    transition: opacity 0.3s ease-in-out; 
    opacity: 0; 
    z-index: 999;
}

.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.modal-content {
    position: relative;
    margin: 20px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0; 
    transform: translateY(-50px); 
}

.modal--entering {
    opacity: 1; /* Прозрачность при появлении модального окна */
}

.modal--entering .modal-content {
    opacity: 1; /* Прозрачность контента */
    transform: translateY(0); /* Возвращаем контент в исходное положение */
}

.modal--entered {
    opacity: 1; /* Полная видимость модального окна */
}

.modal--entered .modal-content {
    opacity: 1; /* Полная видимость контента */
    transform: translateY(0); /* Окончательная позиция контента */
}

.modal--exiting {
    opacity: 0; /* Прозрачность при скрытии */
}

.modal--exiting .modal-content {
    opacity: 0; /* Прозрачность контента при скрытии */
    transform: translateY(-50px); /* Контент смещается вверх при скрытии */
}

.modal--exited {
    opacity: 0; /* Окончательное скрытие */
}

.modal--exited .modal-content {
    opacity: 0;
    transform: translateY(-50px); /* Окончательное смещение */
}
