.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(3px);
    overflow: hidden;
    overflow-y: auto;
    transition: opacity 0.3s ease-in-out; 
    opacity: 0; 
    z-index: 999;
}

.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.modal-content {
    position: relative;
    margin: 20px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0; 
    transform: translateY(-50px); 
}

.modal--entering {
    opacity: 1; /* opacity for modal */
}

.modal--entering .modal-content {
    opacity: 1; /* opacity of content */
    transform: translateY(0); /* returm content to default position */
}

.modal--entered {
    opacity: 1; /* show modal*/
}

.modal--entered .modal-content {
    opacity: 1; /* show content*/
    transform: translateY(0); /* content position */
}

.modal--exiting {
    opacity: 0; /* opacity to hide*/
}

.modal--exiting .modal-content {
    opacity: 0; /* opacity of content to hide* */
    transform: translateY(-50px); /* shift up content */
}

.modal--exited {
    opacity: 0; /* modal hide*/
}

.modal--exited .modal-content {
    opacity: 0;
    transform: translateY(-50px); /* modal and content shift*/
}
