@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family: "Montserrat Alternates", sans-serif;
}

@media (max-width: 768px) {
    .edit-password-container{
        width: 60vw;
        padding: 5vw;
        border-radius: 10px;
    }

    .title {
        font-size: 7vw;
        font-weight: 1000;
        margin: 1vw;

    }

    .field {
        padding: 2px;
        border-radius: 5px;
        margin: 2vw;
        width: 90%;
    }

    .input-field {
        padding: 1vw;
        font-size: 4vw;
        width: 100%;

    }

    .edit-btn {
        font-size: 3vw;
        border-radius: 5px;
        width: 70%;
        margin: 1vh;
    }

    .save-icon {
        margin: 8px;
        width: 20px;
    }

    .validaton-error {
        font-size: 3vw;
        margin: 1vh;
        text-align: center;
    }

    .hide-btn {
        border-radius: 5px;
    }

    .hide-ico {
        width: 15px;
        height: 15px;
    }
}
@media (min-width: 1024px) {
    
    .edit-password-container{
        width: 35vw;
        padding: 1.5vw;
        border-radius: 15px;
    }

    .title {
        font-size: 4vw;
        font-weight: 1000;
        margin: 1vw;

    }

    .field {
        padding: 0.5vw;
        border-radius: 10px;
        margin: 1vw;
        width: 100%;
        height: 6vh;
    }

    .input-field {
        padding: 1vw;
        font-size: 1.5vw;
        width: 100%;
    }

    .edit-btn {
        font-size: 20px;
        border-radius: 10px;
        padding: 1vh;
        margin: 2vh;
        width: 70%;
    }

    .save-icon {
        width: 2vw;
        margin: 10px;
    }

    .validaton-error {
        font-size: 1.5vw;
        margin: 2vh;
        text-align: center;
        
    }

    .hide-btn { 
        border-radius: 5px; 
        background-color: transparent; 
    } 

    .hide-ico { 
        background-color: transparent;
        width: 2.5vw;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .edit-password-container{
        width: 50vw;
        padding: 4vw;
        border-radius: 10px;
    }

    .title {
        font-size: 5vw;
        font-weight: 1000;
        margin: 1vw;

    }

    .field {
        padding: 0.5vw;
        border-radius: 10px;
        margin: 1.5vw;
        width: 90%;
        height: 8vh;
    }

    .input-field {
        padding: 1vw;
        font-size: 2vw;
        width: 100%;
    }

    .edit-btn {
        font-size: 24px;
        border-radius: 10px;
        padding: 10px;
        margin: 2vh;
    }

    .save-icon {
        margin: 8px;
    }

    .validaton-error {
        font-size: 2vw;
        margin: 1vh;
        text-align: center;
        
    }

    .hide-btn {
        border-radius: 5px;
    }
}

.edit-password-container {
    background-color: #C2CB6E;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.title {
    font-family: var(--font-family);
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: row;
    border: 1px solid #B5E78F;
    background-color: #FEFEFD;
    
}

.input-field {
    border: none;
    font-family: var(--font-family);
    color: #414040;
}

.edit-btn {
    background-color: #FF5B5B;
    font-family: var(--font-family);
    font-weight: bold;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.validaton-error {
    font-family:  var(--font-family);
    color: #B9141D;
}