.mini-navi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 80px;
  background-color: #ccd770;
  border-radius: 40px;
  gap: 20px;
}

.navi-btn {
  background: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ico {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .ico {
    width: 20px;
  }

  .mini-navi {
    width: 200px;
    height: 55px;
    border-radius: 40px;
    gap: 20px;
  }

  .navi-btn {
    background: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .ico {
    width: 30px;
  }

  .mini-navi {
    width: 250px;
    height: 55px;
    border-radius: 40px;
    gap: 20px;
  }

  .navi-btn {
    background: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}
